:root {
  --nextra-primary: #6778DE; 
}

body {
  font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", "Helvetica",
    "Arial", sans-serif;
}

ol > li.nx-my-2 {
  /*apply top margin to top-level ordered list items*/
  margin-top: 1.5rem;
}

.green {
  color: limegreen;
}
.red {
  color: red;
}
.highlight {
  background-color: lightgoldenrodyellow;
}

.nextra-content a.nx-text-primary-600,
.nextra-content a.nx-text-primary-700 {
  color: var(--nextra-primary);
}